<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="index.php" class="navbar-brand p-0">
            <img class="img-fluid mx-auto rounded mb-4" src="img/Libertty logo-155x50-01.jpg" alt="">
            <!-- <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>Liberty CWC</h1> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.php" class="nav-item nav-link active">Home</a>
                <a href="about.php" class="nav-item nav-link">About</a>
                <a href="service.php" class="nav-item nav-link">Service</a>
                <div class="nav-item dropdown">
                    <a href="service.php" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Our Services</a>
                    <div class="dropdown-menu m-0">
                        <a href="Oncology-Consultation.php" class="dropdown-item">Oncology Consultation </a>
                        <a href="Chemotherapy.php" class="dropdown-item">Chemotherapy </a>
                        <a href="Cancer-Screening.php" class="dropdown-item">Cancer Screening</a>
                        <a href="Pharmacy.php" class="dropdown-item">Pharmacy Services</a>
                        <a href="Psychosocial.php" class="dropdown-item">Psychosocial Counselling</a>
                        <a href="Nutritional.php" class="dropdown-item">Nutritional Counselling</a>
                        <a href="Palliative-Care.php" class="dropdown-item">Palliative Care</a>
                        <a href="Post-Treatment-Advanced-Care-Plans.php" class="dropdown-item">Post Treatment Advanced Care Plans</a>
                       
                    </div>
                </div>
                <a href="contact.php" class="nav-item nav-link">Contact</a>
            </div>
            <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
            <a href="appointment.php" class="btn btn-primary py-2 px-4 ms-3">Appointment</a>
        </div>
    </nav>
    <!-- Navbar End -->